[data]
name = {{ promptStringOnce . "name" "What's your name" | quote }}
email = {{ promptStringOnce . "email" "What's your email" | quote }}
isHeadless = {{ promptBoolOnce . "isHeadless" "Is this a headless install?" }}
latitude = {{ promptStringOnce . "latitude" "Latitude for redshift?"}}
longitude = {{ promptStringOnce . "longitude" "Longitude for redshift?"}}
