# kak-specific gitignore
# ignore the default autoload rc
autoload/standard-library

# pls stop appearing in my tree results
autoload/remote
colors/remote

# plugin testing dead zone
testing

# and always exclude the local rc if it exists
kakrc.local
